datasets
evaluate
openai
numpy
python-dotenv
datasets
scikit-learn
xgboost
lightgbm
catboost
langchain
transformers
torch
bitsandbytes
accelerate
coverage
autopep8
astor
pandas
tensorflow
scikeras
seaborn
lmfit
mutmut
pytest
junit-xml==1.9
vertexai==1.71.1
anthropic
llamaapi
google-genai==1.24.0